# Django
SECRET_KEY=replace-with-long-random-secret
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:4200

# Media and URLs
BACKEND_BASE_URL=http://localhost:8000

# Leonardo API
LEONARDO_API_KEY=replace-with-your-leonardo-api-key
LEONARDO_MODEL_ID=b24e16ff-06e3-43eb-8d33-4416c2d75876
