<div class="auth-page">
  <section class="auth-card">
    <h1>Вход в аккаунт</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <label>
        Логин
        <input type="text" placeholder="Введите логин" formControlName="username" />
      </label>

      <label>
        Пароль
        <input type="password" placeholder="Введите пароль" formControlName="password" />
      </label>

      <button type="submit">Войти</button>
    </form>

    <div class="error">{{ serverError() }}</div>
    <p>
      Нет аккаунта? <a routerLink="/register">Зарегистрироваться</a>
    </p>
  </section>
</div>
