<div class="auth-page">
  <section class="auth-card">
    <h1>Создать аккаунт</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <label>
        Логин
        <input type="text" placeholder="Введите логин" formControlName="username" />
      </label>

      <label>
        E-mail
        <input type="email" placeholder="example@mail.com" formControlName="email" />
      </label>

      <label>
        Пароль
        <input type="password" placeholder="Придумайте пароль" formControlName="password" />
      </label>

      <label>
        Повторите пароль
        <input type="password" placeholder="Повторите пароль" formControlName="password2" />
      </label>

      <button type="submit">Зарегистрироваться</button>
    </form>

    <div class="error">{{ serverError() }}</div>
    <p>
      Уже есть аккаунт? <a routerLink="/login">Войти</a>
    </p>
  </section>
</div>
